# Setup

In [3]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv("http://www.ats.ucla.edu/stat/data/binary.csv")
df.sample(5)

     admit  gre   gpa  rank
74       0  720  3.45     4
267      1  600  3.64     3
152      1  640  3.94     2
106      1  700  3.56     1
204      1  600  3.89     1

# Grouping

In [16]:
# select count(*) groupby col1, col2
df.groupby(['admit', 'rank']).size()

admit  rank
0      1       28
       2       97
       3       93
       4       55
1      1       33
       2       54
       3       28
       4       12
dtype: int64

In [17]:
# select count(*) from df group by col1, co2
data.groupby(['admit', 'rank']).size().reset_index().rename(columns={0:'count'})

   admit  rank  count
0      0     1     28
1      0     2     97
2      0     3     93
3      0     4     55
4      1     1     33
5      1     2     54
6      1     3     28
7      1     4     12

# Apply

## raw

In [39]:
n=int(1e6)
df = pd.DataFrame(dict(col1=np.random.normal(size=n), col2=np.random.normal(size=n)))

In [41]:
%%time
_ = df.apply(lambda row: np.linalg.norm(row), axis=1)

CPU times: user 19.5 s, sys: 202 ms, total: 19.7 s
Wall time: 20 s

In [42]:
%%time
_ = data.apply(lambda row: np.linalg.norm(row), axis=1, raw=True)

CPU times: user 16.8 ms, sys: 3.84 ms, total: 20.6 ms
Wall time: 20.6 ms