In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("http://www.ats.ucla.edu/stat/data/binary.csv")
df.sample(5)

     admit  gre   gpa  rank
113      0  600  3.22     1
253      1  540  3.55     4
90       0  700  3.83     2
27       1  520  3.74     4
103      0  540  3.94     3

### Grouping

In [8]:
# select count(*) groupby col1, col2
df.groupby(['admit', 'rank']).size()

admit  rank
0      1       28
       2       97
       3       93
       4       55
1      1       33
       2       54
       3       28
       4       12
dtype: int64

In [9]:
# select count(*) from df group by col1, co2
df.groupby(['admit', 'rank']).size().reset_index().rename(columns={0:'count'})

   admit  rank  count
0      0     1     28
1      0     2     97
2      0     3     93
3      0     4     55
4      1     1     33
5      1     2     54
6      1     3     28
7      1     4     12

### Apply

#### raw

In [39]:
n=int(1e6)
df = pd.DataFrame(dict(col1=np.random.normal(size=n), col2=np.random.normal(size=n)))

In [41]:
%%time
_ = df.apply(lambda row: np.linalg.norm(row), axis=1)

CPU times: user 19.5 s, sys: 202 ms, total: 19.7 s
Wall time: 20 s

In [42]:
%%time
_ = data.apply(lambda row: np.linalg.norm(row), axis=1, raw=True)

CPU times: user 16.8 ms, sys: 3.84 ms, total: 20.6 ms
Wall time: 20.6 ms

### read_csv parse_dates for list of columns:
```
pd.read_csv("data.csv", parse_dates=['time_col_1', 'time_col_2])
```

### `factorize`

In [11]:
pd.factorize([1,2,3,3,5,7,8])

(array([0, 1, 2, 2, 3, 4, 5]), array([1, 2, 3, 5, 7, 8]))

### `merge_asof` and `merge_ordered` for joining in time series data

### `df.sample().T`

### `df.info()`